@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
$src1: "https://vtv1.mediacdn.vn/2019/4/26/poster-payoff-1-1556273680151870157160-crop-1556273779257196175768.jpg";
$src2: "https://image.winudf.com/v2/image/Y29tLmFuZHJvbW8uZGV2NzM1NjM3LmFwcDgzNDA1OF9zY3JlZW5fMl8xNTMzMjYzMzcyXzA4NQ/screen-2.jpg?fakeurl=1&type=.jpg";
$src3: "https://i.pinimg.com/originals/07/02/1f/07021fce345fea72dc3df889670f2378.jpg";
body {
  font-size: 62.5%;  
}

.flexDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 20rem;
  height: 30rem;
  font-family: "Roboto", sans-serif;
  margin-right: 5rem;
  position: relative;
  border-radius: 10px;
  background-color: transparent;
  transform-style: preserve-3d;
  float: left;
  &:hover {
    & div {
      &[class="front-face"] {
        transform: rotateY(-180deg);
        box-shadow: -2rem 0.7rem 0.3rem 0.1rem #6c757d;
      }
      &[class="back-face"] {
        transform: rotateY(0);
        box-shadow: 2rem 0.7rem 0.3rem 0.1rem #6c757d;
      }
    }
  }
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.front-face {
  position: absolute;
  top: 0;
  left: 0;
  width: 20rem;
  height: 30rem;
  overflow: hidden;
  transition: transform 1s ease-in-out,
    box-shadow .5s ease-in-out;
  transform: rotateY(0);
  border: 1px solid #6c757d;
  border-radius: 10px;
  backface-visibility: hidden;
  box-shadow: 2rem .7rem 0.3rem 0.1rem #6c757d;
}

.back-face {
  position: absolute;
  top: 0;
  left: 0;
  width: 20rem;
  height: 30rem;
  transform: rotateY(180deg);
  transition: transform 1s ease-in-out,
    box-shadow .5s ease-in-out;
  border-radius: 10px;
  backface-visibility: hidden;
  border: 1px solid #6c757d;
  box-shadow: -2rem 0.7rem 0.3rem 0.1rem #6c757d;
}

.head {
  @extend .flexDisplay;
  font-size: 2.2rem;
  margin: 1rem 0rem 1rem 0rem;
}

.list {
    @extend .flexDisplay;
    align-items: start;
    flex-direction: column;
    list-style: none;
    font-weight: 700;
    font-size: 1.2rem;
    padding: 0rem 0rem 2rem 1.5rem;
    & li {
      width: 96%;
      padding-bottom: .5rem;
      margin-bottom: 1.5rem;
      border-bottom: 1px solid #f5f5f5;
      &:last-child {
        border-bottom: 0px solid #f5f5f5;
      }
    }
}

.btn_b{
  display: block;
  margin: 0 auto;
  border: 0;
  background: #007bff;
  cursor: pointer;
  font-weight: bold;
  font-family: inherit;
  border-radius: 1rem;
  padding: 1rem 1rem;
  font-size: 1rem;
  transition: all .3s;
  &:focus {
    outline: 0;
  }
  &:hover {
    background-color: #0062cc;
  }
  &:active {
    background-color: #0062cc;
    transform: scale(0.9);
  }
}

.price_b {
  padding: 0;
  margin: 1rem 0 .2rem 0;
  font-size: 1.5rem;
  font-weight: bold;
  @extend .flexDisplay;
}

.img_f {
  & {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: inline-block;
    &-1 {
      background: no-repeat center/cover url($src1);
    }
    &-2 {
      background: no-repeat center/cover url($src2);
    }
    &-3 {
      background: no-repeat center/cover url($src3);
    }
  }
  &--2{
    display: inline-block;
    width: 100%;
    height: 15%;
    top: 16rem;
    left: 0;
    transform: skewY(30deg);
    & h1 {
      position: absolute;
      text-align: center;
      top: 16rem;
      left: -2rem;
      padding: 1rem;
      width: 110%;
      font-size: 2rem;
      background: white;
      font-family: "Roboto", sans-serif;
      z-index: 1;
      &:after {
        content: "PREMIUM";
        position: absolute;
        top: 0;
        left: 6.7rem;
        padding: 1rem;
        font-size: 2rem;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: repeating-linear-gradient(30deg, #0062cc, #0062cc 5px, transparent 5px, transparent 10px);
        font-family: "Roboto", sans-serif;
        z-index: 0;
      } 
    }
  }
  &--1{
    display: inline-block;
    width: 100%;
    height: 15%;
    top: 16rem;
    left: 0;
    transform: skewY(30deg);
    & h1 {
      position: absolute;
      text-align: center;
      top: 16rem;
      left: -2rem;
      padding: 1rem;
      width: 110%;
      font-size: 2rem;
      background: white;
      font-family: "Roboto", sans-serif;
      z-index: 1;
      &:after {
        content: "STANDARD";
        position: absolute;
        top: 0;
        left: 6.7rem;
        padding: 1rem;
        font-size: 2rem;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: repeating-linear-gradient(30deg, #0062cc, #0062cc 5px, transparent 5px, transparent 10px);
        font-family: "Roboto", sans-serif;
        z-index: 0;
      } 
    }
  }
  &--3{
    display: inline-block;
    width: 100%;
    height: 15%;
    top: 16rem;
    left: 0;
    transform: skewY(30deg);
    & h1 {
      position: absolute;
      text-align: center;
      top: 16rem;
      left: -2rem;
      padding: 1rem;
      width: 110%;
      font-size: 2rem;
      background: white;
      font-family: "Roboto", sans-serif;
      z-index: 1;
      &:after {
        content: "BASIC";
        position: absolute;
        top: 0;
        left: 8rem;
        padding: 1rem;
        font-size: 2rem;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: repeating-linear-gradient(30deg, #0062cc, #0062cc 5px, transparent 5px, transparent 10px);
        font-family: "Roboto", sans-serif;
        z-index: 0;
      } 
    }
  }
}
.decf {
  width: 100%;
  height: 100%;
  display: inline-block;
  border-radius: 10px;
  &-1 {
    background: linear-gradient(#dc3545, #007bff);        
  }
  &-2 {
    background: linear-gradient(#e83e8c, #007bff);        
  }
  &-3 {
    background: linear-gradient(#dc3545, #007bff);        
  }
}


